{{#if updatePostForm}}
<h4>Update Post</h4>
  <form>
    <div class="form-group">
        <label for="title">Title:</label>
        {{input value=title id="title"}}
      </div>
      <div class="form-group">
        <label for="author">Author:</label>
        {{input value=author id="author"}}
      </div>

      <div class="form-group">
        <label for="text">Post:</label>
        {{input value=text id="text"}}
      </div>

      <div class="form-group">
        <label for="photo">Photo:</label>
        {{input value=photo id="photo"}}
      </div>

      <div class="form-group">
        <label for="timestamp">Time Stamp:</label>
        {{input value=timestamp id="timestamp"}}
      </div>

      <button {{action 'update' post}}>Save</button>
  </form>
{{else}}
  <button {{action 'showUpdateForm'}}>Update</button>
{{/if}}
