{{#if updatePostForm}}
<h4>Update Post</h4>
  <form>
    <div class="form-group">
        <label for="title">Title:</label>
        {{input value=title id="title" class="form-control"}}
      </div>
      <div class="form-group">
        <label for="author">Author:</label>
        {{input value=author id="author" class="form-control"}}
      </div>

      <div class="form-group">
        <label for="text">Post:</label>
        {{textarea value=text id="text" class="form-control"}}
      </div>

      <div class="form-group">
        <label for="photo">Photo:</label>
        {{input value=photo id="photo" class="form-control"}}
      </div>

      <div class="form-group">
        <label for="timestamp">Time Stamp:</label>
        {{input value=timestamp id="timestamp" class="form-control" type="date"}}
      </div>

      <button {{action 'update' post}}>Save</button>
  </form>
{{else}}
  <button class="btn btn-warning" {{action 'showUpdateForm'}}>Update</button>
{{/if}}
