<div class="post-content">
  <img src={{model.photo}} alt={{model.title}} class="img-responsive">
  <div class="post-header">
    <h2>{{model.title}}</h2>
    <h4>{{model.author}}</h4>
  </div>
  <h5>{{model.timestamp}}</h5>
  <p>{{model.text}}</p>
</div>

<h2>Comments</h2>
<ul>
  {{#each model.comments as |comment|}}
     {{comment-tile comment=comment}}
  {{/each}}
</ul>

{{new-comment saveComment="saveComment" post=model}}
